###### ks.cfg #########
###### minimal ########


#version=DEVEL

## System authorization information
auth --enableshadow --passalgo=sha512

## Use CDROM installation media
cdrom

## Use graphical install
graphical
## Use text install
text

## Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

## Keyboard layouts
keyboard --vckeymap=us --xlayouts='us','ru' --switch='grp:ctrl_shift_toggle'

## System language
lang ru_UA.UTF-8


## Network information
network  --bootproto=static --device=enp1s6 --gateway=192.168.1.2 --ip=192.168.1.10 --nameserver=192.168.1.2 --netmask=255.255.255.0 --noipv6 --activate
network  --hostname=NNServer


## Root password
rootpw --iscrypted $6$gEJOS3iXIDbArsvC$DgLRQeQeT8Ic1zP8VNYQIclxzBg0/ifGLKaxx7VPEB6H62iRi.dCyR2DmvHTD.A.oa0GKvCYdoyM/.AbHJR.s1

## User password
user --groups=wheel --name=admin --password=$6$Wy4WKdfvif5iSXNv$JqA0JGxHMZaAf.q9aUy3kHtEvLRKMo/E8ACrM0CnkgVHnuTHX2Uvg/Lhmn.YUMKoAPRotELMFnlCl5bomVBcE/ --iscrypted --gecos="Admin"




## System services
services --enabled="chronyd"

## System timezone
timezone Europe/Kiev --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org,ua.pool.ntp.org

## System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

## Partition clearing information
clearpart --all --initlabel --drives=sda

## Disk partitioning information
part biosboot --fstype="biosboot" --ondisk=sda --size=2
part pv.699 --fstype="lvmpv" --ondisk=sda --size=304220
part /boot --fstype="ext4" --ondisk=sda --size=1022 --label=BOOT
volgroup nnserver --pesize=4096 pv.699
logvol swap  --fstype="swap" --size=8196 --name=swap --vgname=nnserver
logvol /home  --fstype="xfs" --size=184320 --label="HOME" --name=home --vgname=nnserver
logvol /  --fstype="xfs" --size=111700 --label="ROOT" --name=root --vgname=nnserver


## packages install
%packages
@^minimal
@core
# aide
chrony
# esc
kexec-tools
# libreswan
# openscap
# openscap-scanner
# pam_pkcs11
# scap-security-guide

%end

## Select profile
%addon org_fedora_oscap
    content-type = scap-security-guide
    profile = xccdf_org.ssgproject.content_profile_pci-dss
%end

## KDump
%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

## pwpolicy
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

reboot --kexec